/* =============== FONTS =============== */
@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: normal;
    src: local('Impact'), url('../fonts/Impact.ttf') format('ttf');
}

/* =============== VARIABLES CSS =============== */
:root {
    /* =============== COLOR MODE =============== */
    --first-color: rgba(203, 253, 80, 1);
    --secound-color: rgba(252, 147, 68, 1);
    --secound-color-hover: rgba(252, 147, 68, .8);

    --body-color: rgb(14, 17, 6, 1);

    --text-color: rgba(255, 255, 255, 1);
    --text-color-alt: rgba(143, 143, 143, 1);

    --link-color: rgba(255, 255, 255, 1);

    --opacity-normal: 1;
    --opacity-hover: .8;
    --opacity-active: .5;

    --selection-color: rgba(255, 255, 255, 0.2);

    --shadow-color: rgba(143, 143, 143, 0.1);
    --shadow-color-2: rgba(143, 143, 143, 0.2);

    /* ========== FONTS ========== */
    --font-impact: 'Impact', sans-serif;
    /* 600, 700, 800 HTML */
    --font-inter: 'Inter', sans-serif;


    /* ========== FONTS SIZES ========== */
    --h1-font-size: 3.2rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 1.872rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.328rem;
    --tiny-font-size: 1.072rem;


    --title-font-size: 23vw;

    --subtitle-font-size: 4rem;
    --text-font-size: var(--small-font-size);

    --subtitle-contact-font-size: 3rem;
    --subtitle-contact-font-size-2: 2rem;

    --section-title-font-size: 6.5vw;
    --section-subtitle-font-size: 10rem;

    --portfolio-title-font-size: 15vw;
    --contact-us-title-font-size: 15vw;

    --footer-arrow-font-size: 10rem;

    /* ========== CONTAINERS ========== */
    --containter-width: 100%;
    --containter-padding: 1.5rem;

    /* ========== SPACING ========== */
    --margin-base-left-right: 5rem;

    /* ========== Z INDEXS ========== */
    --z-1: -1;
    --z1: 1;
    --z10: 10;
    --z100: 100;
    --z1000: 1000;
}

/* =============== BASE =============== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html {
    /* 10px */
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* =============== BASE BODY =============== */
body {
    /* position: relative; */
    font-family: var(--font-impact);
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

::selection {
    background-color: var(--selection-color);
}

/* =============== SCROLLBAR =============== */
body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 5rem;
}

/* =============== BASE =============== */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: normal;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--normal-font-size);
}

h5 {
    font-size: var(--small-font-size);
}

h6 {
    font-size: var(--tiny-font-size);
}

.normal__text {
    font-family: var(--font-inter);
    font-size: var(--text-font-size);
    line-height: 1.5;
    text-transform: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.link {
    text-decoration: underline;
    /* filter: drop-shadow(0 0 1rem var(--link-color)); */
}

.link:hover {
    opacity: var(--opacity-hover);
    text-decoration: none;
}

.link:active {
    opacity: var(--opacity-active);
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

span {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.text__filter {
    filter: drop-shadow(0 0 0.75rem var(--body-color)) drop-shadow(0 0 0.75rem var(--body-color));
}

.text__gradient {
    background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.steps__list {
    counter-reset: step;
    list-style: decimal;
    font-size: var(--h1-font-size);
    padding-left: 1.5rem;
    margin-left: 1.5rem;
}

.step__item {
    counter-increment: step;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/* =============== BUTTONS =============== */
.button__area {
    position: absolute;
    margin: calc(var(--margin-base-left-right) / 5) 0 0 0;
    right: var(--margin-base-left-right);
    z-index: var(--z100);
}

.button__wrapper {
    position: relative;
}

.button {
    display: inline-block;
    font-size: calc(var(--section-subtitle-font-size) / 7);
    font-family: var(--font-inter);
    text-transform: uppercase;
    padding: .6em 1.4em;
    background-color: var(--body-color);
    color: var(--secound-color);
    border-radius: 50px;
    border: none;
    transition: .1s;
}

.button:hover {
    background-color: var(--body-color);
    color: var(--secound-color-hover);
}

.button:active {
    color: var(--secound-color-hover);
    transform: scale(.9) translate(2px, 2px);
    transition: .1s;
}

.button__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: var(--secound-color);
    background-size: 600% 600%;
    border-radius: 50px;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: filter 1s ease-in;
}

.button__wrapper:hover .button__bg {
    filter: blur(3px);
    transition: filter .2s ease-in-out;
}

.button__wrapper:active .button__bg {
    transform: scale(.9);
    filter: blur(3px);
    transition: filter .2s ease-in-out;
}

/* =============== MAIN =============== */
.main {
    width: 100%;
    height: 100%;
}

/* =============== HEADER AND NAVBAR =============== */
.header {
    top: 0;
    width: 100%;
    height: 6rem;
    z-index: var(--z1000);
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem var(--margin-base-left-right);
    z-index: var(--z1000);
}

.nav__logo {
    z-index: var(--z1000);
}

.nav__img {
    width: 10rem;
    height: 2rem;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 2rem;
    right: var(--margin-base-left-right);
    width: 20%;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    /* align-items: right; */
    flex-direction: column;
    list-style: none;
    /* padding: 7rem 2rem 0 2rem; */
}

.nav__list li:nth-child(1) {
    display: none;
}

.nav__item {
    margin: .5rem 0;
}

.nav__link {
    position: relative;
    font-family: var(--font-inter);
    font-size: var(--small-font-size);
    color: var(--text-color);
    text-transform: uppercase;
}

.nav__link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    color: var(--link-color);
    background-color: var(--link-color);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.nav__link:hover {
    opacity: var(--opacity-hover);
}

.nav__link:active {
    filter: brightness(0.6);
    transition: 0s;
}

@media (hover: hover) and (pointer: fine) {
    .nav__link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.music__wrapper {
    display: flex;
    align-items: center;
    min-height: 3rem;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
    z-index: var(--z1000);
}

.music__wrapper:hover {
    opacity: var(--opacity-hover);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.music__wrapper.disabled {
    opacity: var(--opacity-hover);
}

.music__wrapper.disabled:hover {
    opacity: var(--opacity-normal);
}

.music__wrapper:active {
    transform: scale(0.9);
    transition: transform 0.2s;
    filter: brightness(0.6);
    opacity: var(--opacity-normal) !important;
}

.music__wrapper span {
    --d: .4rem;
    display: inline-block;
    margin-inline: max(.2rem, calc(var(--d) / 4));
    width: calc(var(--d)/5);
    height: calc(var(--d));
    background: var(--text-color);
    border-radius: calc(var(--d) / 2);
    animation: scale-up-down 300ms var(--delay) linear alternate infinite;
}

.music__wrapper span:nth-child(1) {
    --delay: calc(-100ms * 11);
}

.music__wrapper span:nth-child(2) {
    --delay: calc(-100ms * 10);
}

.music__wrapper span:nth-child(3) {
    --delay: calc(-100ms * 7);
}

.music__wrapper span:nth-child(4) {
    --delay: calc(-100ms * 6);
}

.music__wrapper span:nth-child(5) {
    --delay: calc(-100ms * 4);
}

.music__wrapper span:nth-child(6) {
    --delay: calc(-100ms * 3);
}

.music__wrapper span:nth-child(7) {
    --delay: calc(-100ms * 0);
}

@keyframes scale-up-down {
    to {
        height: calc(var(--d) * 4);
    }
}

/* =============== HAMBURGER =============== */
.burger__button-container {
    display: none;
    position: fixed;
    top: 1.45rem;
    right: var(--margin-base-left-right);
    flex-direction: column;
    justify-content: center;
    align-items: right;
    cursor: pointer;
    height: 30px;
    width: 30px;
    z-index: var(--z1000);
}

#burger {
    display: none;
}

.button__menu,
.button__menu::before,
.button__menu::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--secound-color);
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    right: 0;
}

.button__menu::before {
    content: '';
    margin-top: -8px;
    width: 22px;
}

.button__menu::after {
    content: '';
    margin-top: 8px;
    width: 15px;
}

#burger:checked+.burger__button-container .button__menu::before {
    width: 30px;
    margin-top: 0px;
    transform: rotate(405deg);
}

#burger:checked+.burger__button-container .button__menu {
    background: rgba(255, 255, 255, 0);
}

#burger:checked+.burger__button-container .button__menu::after {
    width: 30px;
    margin-top: 0px;
    transform: rotate(-405deg);
}

/* =============== HOME =============== */
#home {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__data {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.home__img-shadows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: linear 0.1s;
    z-index: var(--z100);
    animation: appear 2s ease-in-out;
}


.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(..//img/main/head.png);
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: var(--z10);
}

.home__img-shadows span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 110vh;
    background: rgba(203, 253, 80, 1);
    opacity: .4;
    border-radius: 50%;
    filter: blur(calc(100vw / 10));
    transition: linear 0.1s;
}

@keyframes appear {
    0% {
        opacity: 0;
        top: 100%;
    }

    100% {
        opacity: 1;
    }
}

.home__img-shadows span:nth-child(3) {
    position: absolute;
    top: 25%;
    left: 59%;
    transform: translate(-50%, -50%) rotate(-15deg);
    width: 15vw;
    height: 6vh;
    background: rgb(123, 253, 80);
    opacity: .5;
    border-radius: 15px;
    filter: blur(calc(100vw / 40));
    z-index: var(--z-1);
    transition: linear 0.1s;
}

.home__img-shadows span:nth-child(4) {
    position: absolute;
    top: 26%;
    left: 56%;
    transform: translate(-50%, -50%) rotate(-15deg);
    width: 4rem;
    height: 4rem;
    background: rgb(31, 225, 31);
    opacity: .7;
    border-radius: 15px;
    filter: blur(calc(100vw / 90));
    z-index: 1000;
    transition: linear 0.1s;
}

.home__title {
    position: absolute;
    bottom: 0;
    font-size: var(--title-font-size);
    color: var(--first-color);
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1.1rem;
}

.title__1 {
    left: -1%;
    z-index: var(--z100);
}

.title__2 {
    left: 56%;
    z-index: var(--z10);
}

.subtitle__left {
    position: absolute;
    top: 22%;
    left: var(--margin-base-left-right);
    font-size: var(--subtitle-font-size);
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
    z-index: var(--z100);
}

.subtitle__left span:nth-child(1) {
    color: var(--first-color);
    transform: translateY(-2.2rem);
}

.subtitle__left-animation {
    font-family: var(--font-impact);
}

.subtitle__left-animation .letter {
    display: inline-block;
    font-family: var(--font-impact);
    transition: transform 0.2s;
}

.home__contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 22%;
    right: var(--margin-base-left-right);
    text-align: right;
    text-transform: uppercase;
    z-index: var(--z100);
}

.home__contact-link {
    font-size: var(--subtitle-contact-font-size);
    color: var(--first-color);
}

.home__contact-text {
    font-size: var(--subtitle-contact-font-size-2);
    font-family: var(--font-inter);
    letter-spacing: -1px;
}

.home__contact span span {
    color: var(--secound-color);
    font-weight: 700;
}

.home__contact span a sub {
    font-size: var(--subtitle-contact-font-size);
}

.animate-out {
    opacity: 0;
    transform: translateY(-20px);
}

.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.blast:hover {
    /* background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%); */
    background: -webkit-linear-gradient(var(--text-color) 0%, var(--text-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: var(--second-color); */
    transition: all 0.2s;
}

.blast.active__blast {
    animation: rubberBand .8s alternate ease-out;
    /* background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%); */
    background: -webkit-linear-gradient(var(--text-color) 0%, var(--text-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.12) scaleY(0.75);
    }

    55% {
        transform: scaleX(0.85) scaleY(1);
    }

    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }

    75% {
        transform: scaleX(0.9) scaleY(1);
    }

    90% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    width: 100%;
    max-width: var(--containter-width);
    margin: 0 auto;
}

.content {
    display: grid;
    margin: 0 var(--margin-base-left-right);
}

.section {
    margin-bottom: 10rem;
}

/* ostatni section nie ma marginu */
.section:last-child {
    margin-bottom: 0;
}

.section__title {
    margin: 2rem 0;
    font-size: var(--section-title-font-size);
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 0.6;
}

.section__subtitle {
    font-size: var(--section-subtitle-font-size);
    margin-bottom: 2rem;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: column;
    /* ??????? */
    /* background-color: rgb(55, 55, 255); */
}

.data__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.img__wrapper img {
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 30px var(--shadow-color-2);
}

/* imh hover */
.img__wrapper:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

/* =============== ABOUT US =============== */
#about_us .container .content {
    grid-template-columns: 45% 50%;
    grid-gap: 5%;
    margin-bottom: 10rem;
}

.about_us-description {
    padding: 11rem 0 0 0;
    width: 57%;
}

.section__title .ri-arrow-right-down-line {
    display: flex;
    align-items: left;
    margin: calc(var(--section-title-font-size) / -5) 0 calc(var(--section-title-font-size) / 5) calc(var(--section-title-font-size) / -7.1);
    font-weight: 900;
    font-size: calc(var(--section-title-font-size) / 1.5);
    line-height: 0.9;
}

/* =============== SCROLLING TEXT =============== */
.scrolling__text {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    /* height: 25vh; */
    background: var(--first-color);
    color: var(--body-color);
    padding: calc(var(--section-title-font-size)/4) 0;
}

.scrolling__right-to-left {
    display: flex;
    align-items: center;
}

.scrolling__right-to-left div {
    display: flex;
    align-items: center;
    font-size: var(--section-title-font-size);
    white-space: nowrap;
    animation: scrollRigthToLeft 20s linear infinite;
    animation-delay: -20s;
}

@keyframes scrollRigthToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scrolling__right-to-left div:nth-child(2) {
    animation: scrollRigthToLeft2 20s linear infinite;
    animation-delay: -10s;
}

@keyframes scrollRigthToLeft2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scrolling__right-to-left div svg {
    height: calc(var(--section-title-font-size)/2.2);
    margin: 0 calc(var(--section-title-font-size)/4);
}

/* =============== SERVICES =============== */
#services .container .content {
    grid-template-columns: 15% 60% 15%;
    grid-gap: 5%;
    padding: calc(var(--section-title-font-size)*1.7) 0 0 0;
    /* ???? */
    /* background: #ff0000; */
}

#services .container .content .data {
    padding: calc(50vh - var(--section-title-font-size)*1.7) 0;
}

/* .title__services-animation */
#services .container .content .data:nth-child(2) h2:nth-child(1)>span {
    color: var(--first-color);
}

.word {
    position: absolute;
    opacity: 0;
}

.ts__letter {
    display: inline-block;
    position: relative;
    transform: translateZ(4rem);
    transform-origin: 50% 50% 4rem;
    transition: none;
}

.ts__letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.ts__letter.behind {
    transform: rotateX(-90deg);
}

.ts__letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#services .container .content .data:nth-child(2)>h2:nth-child(2)>span {
    padding: 0 0 0 4rem;
}

#services .container .content .data:nth-child(2)>h2:nth-child(2)>span>span {
    color: var(--first-color);
}

/* .list__services-animation   */
#services .container .content .data>ul {
    list-style-type: none;
}

#services .container .content .data>ul>li {
    padding: 1rem 0;
}

#services .container .content .data>ul>li::before {
    content: "/";
    margin-right: 1.4rem;
}

/* =============== PORTFOLIO =============== */
#portfolio .container .content {
    margin: 0;
    grid-template-columns: 100%;
    /* ???? */
    /* background: #ff0000; */

}

#portfolio .container .content .data {
    align-items: center;
}

.portfolio__title {
    font-size: var(--portfolio-title-font-size);
    text-transform: uppercase;
}

.scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 2.5rem 0;
    cursor: default;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll.active {
    cursor: grab;
    cursor: -webkit-grab;
}

.scroll .card {
    width: 40%;
    height: 100%;
    flex: 0 0 auto;
    margin: 0 0 0 var(--margin-base-left-right);
    border: none;
    outline: none;
    border-radius: 0.25rem;
}

.scroll .card:last-child {
    margin: 0 var(--margin-base-left-right);
}

.scroll .card__image {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 65%;
}

.scroll .card__image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.scroll .card:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.scroll .card-inner {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

.portfolio__big-text {
    width: 100%;
    height: auto;
}

/* =============== CONTACT US =============== */
#contact_us .container .content {
    margin-bottom: 0;
}

#contact_us .container .scrolling__text {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    background: var(--body-color);
    color: var(--text-color);
    margin: -2rem 0 0 0;
    border-bottom: 1rem solid var(--text-color);
    padding: 0;

}

#contact_us .container .scrolling__right-to-left {
    display: flex;
    align-items: center;
}


#contact_us .container .scrolling__right-to-left div {
    display: flex;
    align-items: center;
    font-size: var(--contact-us-title-font-size);
    white-space: nowrap;
    animation: scrollRigthToLeft 30s linear infinite;
    animation-delay: -30s;
}

#contact_us .container .scrolling__right-to-left div:nth-child(2) {
    animation: scrollRigthToLeft2 30s linear infinite;
    animation-delay: -15s;
}

#contact_us .container .content:nth-child(2) {
    padding: calc(var(--contact-us-title-font-size)*1.25) 0 0 0;
}

#contact_us .container .content .data {}

#contact_us .container .content .data .nav__list {
    flex-direction: row;
}

#contact_us .container .content .data .nav__list .nav__item {
    /* wycentruj to co jest w środku */
    display: flex;
    align-items: center;
}

#contact_us .container .content .data .nav__list .nav__item .horizontal-line {
    height: 2px;
    background-color: var(--text-color);
    width: 4rem;
}



/* =============== FOOTER =============== */
.footer {
    margin-bottom: 0;
}

.footer .container .content {
    grid-template-columns: 45% 50%;
    grid-gap: 5%;
    margin-bottom: 3rem;
    position: relative;
}

.footer .container .content .data {
    padding: calc(var(--contact-us-title-font-size)*0.20) 0 0 0;
}

.footer .container .content .data span {
    color: var(--text-color);
    font-size: var(--subtitle-font-size);
    text-transform: uppercase;
}

.footer .container .content .data:nth-child(1) span>span {
    color: var(--first-color);
}

.footer .container .content .data:nth-child(2) span {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container .content .data:nth-child(2) span>span:nth-child(1) {
    color: var(--secound-color);
    border-bottom: .5rem solid var(--secound-color);
    margin-bottom: 2.5rem;
    padding-bottom: .25rem;
}

.footer .container .content .data:nth-child(2) span>span:nth-child(2) {
    font-size: var(--tiny-font-size);
    line-height: .75;
}

.fotter__arrow {
    font-size: var(--footer-arrow-font-size) !important;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    height: 50%;
}


/* =============== BREAKPOINTS =============== */

/* @media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 320px) {} */

/* @media screen and (max-width: 1500px) {
    .home__img-shadows span:nth-child(4) {
        left: 58%;
    }
} */

@media screen and (max-width: 1200px) {
    :root {
        --subtitle-font-size: 2.5rem;
        --text-font-size: var(--tiny-font-size);
        --subtitle-contact-font-size: 2.5rem;
        --subtitle-contact-font-size-2: 1.4rem;
    }

    .nav__link {
        font-size: var(--tiny-font-size);
    }

    .home__img-shadows span:nth-child(3) {
        left: 60%;
    }

    .home__img-shadows span:nth-child(4) {
        left: 58%;
        filter: blur(calc(100vw / 60));
    }

    .subtitle__left span:nth-child(1) {
        transform: translateY(-1.3rem);
    }
}

@media screen and (max-width: 992px) {
    html {
        /* 8.8px */
        font-size: 55%;
    }

    .home__img-shadows span:nth-child(4) {
        left: 60%;
    }
}

@media screen and (max-width: 888px),
(max-width: 1000px) and (orientation: landscape) {
    :root {
        --margin-base-left-right: 2.5rem;
    }

    .header {
        position: fixed;
    }

    .header__scroll {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 4px 30px var(--shadow-color);
    }

    .nav__logo {
        position: fixed;
        top: 2rem;
        left: 3rem;
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        display: none;
        position: fixed;
        flex-direction: column;
        top: -100vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 12rem var(--margin-base-left-right);
        background-color: var(--body-color);
        overflow: auto;
        /* transition: .5s ease-in-out !important; */
        transition: none;
        /* border-radius: 50%; */
    }

    .navbar.active {
        display: flex;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .nav__list {
        text-align: center;
    }

    .nav__list li:nth-child(1) {
        display: block;
    }

    .music__wrapper {
        width: 6rem;
        margin: 4rem auto;
    }

    .music__wrapper span {
        --d: 1rem;
        width: calc(var(--d));
    }

    .nav__link {
        display: block;
        margin: 1.5rem 0;
        padding: .5rem;
        font-size: var(--h1-font-size);
    }

    .burger__button-container {
        display: flex;
    }

    .home__img {
        top: 50%;
        transform: translateY(-50%);
        height: 75vh;
    }

    .home__img-shadows span:nth-child(3) {
        display: none;
    }

    .home__img-shadows span:nth-child(4) {
        display: none;
    }

    .title__1 {
        top: 60%;
    }

    .title__2 {
        top: 50%;
    }


    .content {
        grid-template-columns: 1fr;
    }

    #about_us .container .content {
        grid-template-columns: 1fr;
    }

    .about_us-description {
        padding: 11rem 0;
        width: 57%;
    }

    .section__title .ri-arrow-right-down-line {
        display: flex;
        align-items: left;
        margin: calc(var(--section-title-font-size) / -5) 0 calc(var(--section-title-font-size) / 5) calc(var(--section-title-font-size) / -7.1);
        font-weight: 900;
        font-size: calc(var(--section-title-font-size) / 1.5);
        line-height: 0.9;
    }
}


@media screen and (max-width: 768px) {
    :root {
        /* --title-font-size: 25rem; */
        --subtitle-font-size: 3rem;
        --text-font-size: var(--small-font-size);
        --subtitle-contact-font-size: 3rem;
        --subtitle-contact-font-size-2: 1.7rem;
    }

    .home__img-shadows span:nth-child(2) {
        width: 60vw;
    }

    .home__title {
        font-size: var(--title-font-size);
    }

    .subtitle__left {
        width: 300px;
        top: 7rem;
        font-size: var(--subtitle-font-size);
        text-align: left;
        white-space: nowrap;
        text-transform: uppercase;
        z-index: var(--z100);
    }

    .home__contact {
        width: 300px;
        top: 85%;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --title-font-size: 32vw;
    }

    .home {
        box-shadow: none !important;
    }

    .home__img {
        height: 60vh;
    }

    .home__img-shadows span:nth-child(2) {
        width: 67vw;
        height: 100vh;
    }

    .home__title {
        /* font-size: var(--title-font-size); */
        letter-spacing: -.5rem;
    }

    .title__1 {
        left: -9%;
    }

    .title__2 {
        left: 50%;
    }

}

@media screen and (max-width: 460px) {

    /* :root {
        --title-font-size: 7rem;
    } */
}

@media screen and (max-width: 390px) {
    /* :root {
        --title-font-size: 7rem;
    } */

    .nav__link {
        font-size: var(--h2-font-size);
    }
}

@media screen and (max-width: 350px) {
    :root {
        --subtitle-font-size: 2rem;
        --text-font-size: var(--tiny-font-size);
        --subtitle-contact-font-size: 2rem;
        --subtitle-contact-font-size-2: 1.5rem;
    }

    .home__img-shadows span:nth-child(4) {
        left: 65%;
    }
}

/* =============== DETALLES =============== */
@media screen and (max-width: 1000px) and (orientation: landscape) {
    .header {
        position: fixed;
    }

    .navbar::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        display: none;
        position: fixed;
        flex-direction: column;
        top: -100vh;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 12rem var(--margin-base-left-right);
        background-color: var(--body-color);
        overflow: auto;
        transition: .5s ease-in-out !important;
        border-radius: 50%;
    }

    .navbar.active {
        display: flex;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .nav__list {
        text-align: center;
    }

    .nav__list li:nth-child(1) {
        display: block;
    }

    .music__wrapper {
        width: 6rem;
        margin: 4rem auto;
    }

    .music__wrapper span {
        --d: 1rem;
        width: calc(var(--d));
    }

    .nav__link {
        display: block;
        margin: 1.5rem 0;
        padding: .5rem;
        font-size: var(--h1-font-size);
    }

    .burger__button-container {
        display: flex;
    }

    .home__data {
        height: 150vh;
    }

    .home__img {
        height: 100vh;
    }

    .title__1 {
        top: 40%;
    }

    .title__2 {
        top: 30%;
    }

}

@media screen and (max-width: 888px) and (orientation: landscape) {
    .home__img-shadows span:nth-child(4) {
        display: none;
    }

    .header {
        position: fixed;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {

    .subtitle__left {
        top: 15%;
    }

    .home__contact {
        width: 300px;
        top: 15%;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {}