/* =============== FONTS =============== */
@font-face {
    font-family: 'Impact';
    font-style: normal;
    font-weight: normal;
    src: local('Impact'), url('../fonts/Impact.ttf') format('ttf');
}

/* =============== VARIABLES CSS =============== */
:root {
    /* =============== COLOR MODE =============== */
    --first-color: rgba(203, 253, 80, 1);
    --secound-color: rgba(252, 147, 68, 1);

    --body-color: rgb(14, 17, 6, 1);

    --text-color: rgba(255, 255, 255, 1);
    --text-color-alt: rgba(143, 143, 143, 1);

    --link-color: rgba(255, 255, 255, 1);

    --opacity-normal: 1;
    --opacity-hover: .8;
    --opacity-active: .5;

    --selection-color: rgba(255, 255, 255, 0.2);

    /* --shadow-color: rgba(143, 143, 143, 0.1);
    --shadow-color-2: rgba(143, 143, 143, 0.2); */

    /* ========== FONTS ========== */
    --font-impact: 'Impact', sans-serif;
    /* 600, 700, 800 HTML */
    --font-inter: 'Inter', sans-serif;


    /* ========== FONTS SIZES ========== */
    --title-font-size: 23vw;
    --subtitle-font-size: 3rem;

    --section-title-font-size: 5rem;
    --section-subtitle-font-size: 4rem;

    --h1-font-size: 3.2rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 1.872rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.328rem;
    --tiny-font-size: 1.072rem;


    --containter-width: 100%;
    --containter-padding: 1.5rem;

    /* ========== Z INDEXS ========== */
    --z-1: -1;
    --z1: 1;
    --z10: 10;
    --z100: 100;
    --z1000: 1000;
}

/* =============== BASE =============== */
*:not([class*="burger"]),
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

html {
    /* 10px */
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* =============== BASE BODY =============== */
body {
    /* position: relative; */
    font-family: var(--font-impact);
    color: var(--text-color);
    background-color: var(--body-color);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

::selection {
    background-color: var(--selection-color);
}

/* =============== SCROLLBAR =============== */
body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 5rem;
}

/* =============== BASE =============== */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--normal-font-size);
}

h5 {
    font-size: var(--small-font-size);
}

h6 {
    font-size: var(--tiny-font-size);
}

p.normal__text {
    font-family: var(--font-inter);
    font-size: var(--h2-font-size);
    line-height: 1.2;
    letter-spacing: .1rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.link {
    text-decoration: underline;
    /* filter: drop-shadow(0 0 1rem var(--link-color)); */
}

.link:hover {
    opacity: var(--opacity-hover);
    text-decoration: none;
}

.link:active {
    opacity: var(--opacity-active);
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

span {
    display: inline-block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.text__filter {
    filter: drop-shadow(0 0 0.75rem var(--body-color)) drop-shadow(0 0 0.75rem var(--body-color));
}

.text__gradient {
    background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.steps__list {
    counter-reset: step;
    list-style: decimal;
    font-size: var(--h1-font-size);
    padding-left: 1.5rem;
    margin-left: 1.5rem;
}

.step__item {
    counter-increment: step;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

/* =============== BUTTONS =============== */
.button__area {
    display: flex;
    align-items: center;
}

.button__wrapper {
    position: relative;
}

.button {
    display: inline-block;
    font-size: var(--h2-font-size);
    font-family: var(--bold-font);
    /* text-transform: uppercase; */
    letter-spacing: -1px;
    padding: .4em 1.4em;
    background-color: var(--text-color);
    color: var(--body-color);
    border-radius: 50px;
    border: none;
    transition: .1s;
}

.button:hover {
    background-color: var(--body-color);
    color: var(--text-color);
}

.button:active {
    transform: scale(.9);
    transition: .1s;
}

.button__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg,
            rgb(255, 0, 0) 0%,
            rgb(255, 128, 0) 10%,
            rgb(255, 255, 0) 20%,
            rgb(128, 255, 0) 30%,
            rgb(0, 255, 0) 40%,
            rgb(0, 255, 128) 50%,
            rgb(0, 255, 255) 60%,
            rgb(0, 128, 255) 70%,
            rgb(0, 0, 255) 80%,
            rgb(128, 0, 255) 90%,
            rgb(255, 0, 255) 100%);
    background-size: 600% 600%;
    border-radius: 50px;
    animation: AnimateBorder 4s ease infinite;
    -webkit-animation: AnimateBorder 4s ease infinite;
    -moz-animation: AnimateBorder 4s ease infinite;
    z-index: -1;
    transform: translate(-2px, -2px);
    transition: filter 1s ease-in;
}

.button__wrapper:hover .button__bg {
    filter: blur(10px);
    transition: filter .2s ease-in;
}

.button__wrapper:active .button__bg {
    filter: blur(10px);
    transition: filter .2s ease-in;
}

@-webkit-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimateBorder {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes swipe {
    0% {
        transform-origin: left center;
        transform: scaleX(0);
    }

    50% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    51% {
        transform-origin: right center;
        transform: scaleX(1);
    }

    100% {
        transform-origin: right center;
        transform: scaleX(0);

    }
}

/* =============== MAIN =============== */
.main {
    width: 100%;
    height: 100%;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: var(--z-1);
    /* filter: drop-shadow(0 0 3rem var(--first-color)) drop-shadow(0 0 3rem var(--first-color-alt)); */
    /* filter: drop-shadow(0 0 3rem var(--shadow-color-2)); */
}

/* =============== HEADER AND NAVBAR =============== */
.header {
    top: 0;
    width: 100%;
}

/* .header__scroll {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px var(--shadow-color);
} */

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2rem 5rem;
    z-index: var(--z1000);
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 2rem;
    right: 5rem;
    width: 20%;
}

.nav__logo a {
    display: flex;
    justify-self: space-between;
    align-items: center;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.nav__img {
    /* 1000px / 180px svg */
    width: 10rem;
    height: 1.8;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    /* align-items: right; */
    flex-direction: column;
    list-style: none;
    /* padding: 7rem 2rem 0 2rem; */
}

.nav__item {
    margin: .5rem 0;
}

.nav__link {
    position: relative;
    font-family: var(--font-inter);
    font-size: var(--small-font-size);
    color: var(--text-color);
    text-transform: uppercase;
}

.nav__link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 2px;
    color: var(--link-color);
    background-color: var(--link-color);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.nav__link:hover {
    opacity: var(--opacity-hover);
}

.nav__link:active {
    filter: brightness(0.6);
    transition: 0s;
}

@media (hover: hover) and (pointer: fine) {
    .nav__link:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.music__wrapper {
    display: flex;
    align-items: center;
    min-height: 3rem;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
    z-index: var(--z1000);
}

.music__wrapper:hover {
    opacity: var(--opacity-hover);
    transform: scale(1.1);
    transition: transform 0.2s;
}

.music__wrapper.disabled {
    opacity: var(--opacity-hover);
}

.music__wrapper.disabled:hover {
    opacity: var(--opacity-normal);
}

.music__wrapper:active {
    transform: scale(0.9);
    transition: transform 0.2s;
    filter: brightness(0.6);
    opacity: var(--opacity-normal) !important;
}

.music__wrapper span {
    --d: .4rem;
    display: inline-block;
    margin-inline: max(.2rem, calc(var(--d) / 4));
    width: calc(var(--d)/5);
    height: calc(var(--d));
    background: var(--text-color);
    border-radius: calc(var(--d) / 2);
    animation: scale-up-down 300ms var(--delay) linear alternate infinite;
}

.music__wrapper span:nth-child(1) {
    --delay: calc(-100ms * 11);
}

.music__wrapper span:nth-child(2) {
    --delay: calc(-100ms * 10);
}

.music__wrapper span:nth-child(3) {
    --delay: calc(-100ms * 7);
}

.music__wrapper span:nth-child(4) {
    --delay: calc(-100ms * 6);
}

.music__wrapper span:nth-child(5) {
    --delay: calc(-100ms * 4);
}

.music__wrapper span:nth-child(6) {
    --delay: calc(-100ms * 3);
}

.music__wrapper span:nth-child(7) {
    --delay: calc(-100ms * 0);
}

@keyframes scale-up-down {
    to {
        height: calc(var(--d) * 4);
    }
}

/* =============== HAMBURGER =============== */
.burger {
    position: fixed;
    top: 1.8rem;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 4rem;
    background-color: transparent;
    border: none;
    outline: none;
    display: none;
    z-index: var(--z1000);
}

#burger-svg {
    width: 100%;
    height: 100%;
}

.burger-svg__bars {
    fill: var(--text-color);
}

.burger-svg__bars.active {
    fill: var(--text-color-alt);
}

.no__scroll {
    overflow: hidden;
}

.no__scroll::-webkit-scrollbar {
    display: none;
}

/* =============== HOME =============== */
.home {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__img-shadows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: linear 0.1s;
    z-index: var(--z100);
}

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(..//img/main/head.png);
    background-size: auto 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: var(--z10);
}

.home__img-shadows span:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 110vh;
    background: rgba(203, 253, 80, 1);
    opacity: .4;
    border-radius: 50%;
    filter: blur(calc(100vw / 10));
    transition: linear 0.1s;
}

.home__img-shadows span:nth-child(3) {
    position: absolute;
    /* wyśrodkuj */
    top: 25%;
    left: 59%;
    transform: translate(-50%, -50%) rotate(-15deg);
    width: 15vw;
    height: 6vh;
    background: rgb(123, 253, 80);
    opacity: .5;
    border-radius: 15px;
    filter: blur(calc(100vw / 40));
    z-index: var(--z-1);
    transition: linear 0.1s;
}

.home__img-shadows span:nth-child(4) {
    position: absolute;
    /* wyśrodkuj */
    top: 26%;
    left: 56%;
    transform: translate(-50%, -50%) rotate(-15deg);
    width: 4rem;
    height: 4rem;
    background: rgb(31, 225, 31);
    opacity: .7;
    border-radius: 15px;
    filter: blur(calc(100vw / 90));
    z-index: 1000;
    transition: linear 0.1s;
}

.home__title {
    position: absolute;
    bottom: 0;
    font-size: var(--title-font-size);
    color: var(--first-color);
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1.1rem;
}

.title__1 {
    left: -1%;
    z-index: var(--z100);
}

.title__2 {
    left: 56%;
    z-index: var(--z10);
}

.home__subtitle {
    position: absolute;
    font-size: var(--subtitle-font-size);
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    /* letter-spacing: -1.1rem; */
    z-index: var(--z100);
}

.subtitle__left {
    top: 23%;
    left: 5rem;
    text-align: left;
}

.subtitle__left span:nth-child(1) {
    font-family: var(--font-inter);
    text-transform: none;
    color: var(--first-color);
    font-size: var(--tiny-font-size);
}

.subtitle__right {
    top: 23%;
    left: 77%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    text-align: left;
    float: left;
}

.subtitle__right span:nth-child(1) {
    color: var(--secound-color);
    position: relative;
}

/* underline 5 px under text */
.subtitle__right span:nth-child(1)::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--secound-color);
    z-index: var(--z100);
}


.subtitle__right span:nth-child(2) {
    color: var(--secound-color);
}


.home__title-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z100);
}

.home__title-svg {
    position: relative;
    top: 10%;
    left: 0;
    width: 70%;
    height: 70%;
}

.home__title-svg g {
    fill: var(--text-color);
}

.blast:hover {
    /* background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%); */
    background: -webkit-linear-gradient(var(--text-color) 0%, var(--text-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: var(--second-color); */
    transition: all 0.2s;
}

.blast.active__blast {
    animation: rubberBand .8s alternate ease-out;
    /* background: -webkit-linear-gradient(var(--first-color) 0%, var(--first-color-alt) 100%); */
    background: -webkit-linear-gradient(var(--text-color) 0%, var(--text-color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }

    40% {
        transform: scaleX(1.12) scaleY(0.75);
    }

    55% {
        transform: scaleX(0.85) scaleY(1);
    }

    65% {
        transform: scaleX(1.09) scaleY(0.85);
    }

    75% {
        transform: scaleX(0.9) scaleY(1);
    }

    90% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

/* =============== SCROLL DOWN ELEMENT =============== */
.home__scroll__down {
    position: absolute;
    left: .5rem;
    bottom: 2rem;
    font-size: var(--normal-font-size);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;

    z-index: var(--z-100);
    animation: scrollDown 1s ease-in-out infinite;
}

.scroll__down-right {
    right: .5rem;
    left: auto;
}

.home__scroll__down__center {
    position: absolute;
    font-size: 7rem;
    left: calc(50% - 3.5rem);
    filter: drop-shadow(0 0 0.75rem var(--first-color)) drop-shadow(0 0 0.75rem var(--first-color-alt));
    animation: scrollDown 1s ease-in-out infinite;
}

@keyframes scrollDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
    display: grid;
}

.section {
    margin-bottom: 10rem;
}

/* ostatni section nie ma marginu */
.section:last-child {
    margin-bottom: 0;
}

.section__title {
    font-size: var(--section-title-font-size);
    margin: 2rem 0;
    text-align: center;
}

.section__subtitle {
    font-size: var(--section-subtitle-font-size);
    margin-bottom: 2rem;
    text-align: center;
}

.container {
    width: 100%;
    max-width: var(--containter-width);
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 1rem 0 4rem;
    /* background-color: var(--first-color); */
    /* box-shadow: 0 4px 30px var(--shadow-color); */
}

/* co drufa data */
.data:nth-child(2n) {
    padding: 0 4rem 0 1rem;
}

.data p {
    /* text-align: center; */
    line-height: 1.6;
    margin-bottom: 3rem;
}

.data__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2.1rem;
}

.img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.img__wrapper img {
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 30px var(--shadow-color-2);
}

/* imh hover */
.img__wrapper:hover {
    transform: scale(1.05);
    transition: all 0.2s;
}

/* =============== FOOTER =============== */
.footer {
    padding-bottom: 5rem;
    box-shadow: 0 4px 30px var(--shadow-color);
}

.footer .content {
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0;
    text-align: center;
}

.footer .data h3 {
    font-size: var(--h2-font-size);
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.footer .nav__list {
    flex-direction: column;
}

.footer .nav__item {
    margin: 1rem 0;
}

.footer .nav__link {
    padding: 0;
    margin: 0;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--normal-font-size);
    text-decoration: wavy underline;
}

/* =============== BREAKPOINTS =============== */

/* @media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 320px) {} */

/* @media screen and (max-width: 1500px) {
    .home__img-shadows span:nth-child(4) {
        left: 58%;
    }
} */

@media screen and (max-width: 1200px) {
    .home__img-shadows span:nth-child(3) {
        left: 60%;
        filter: blur(calc(0.5rem + 3vw));
    }

    .home__img-shadows span:nth-child(4) {
        left: 58%;
    }
}

@media screen and (max-width: 992px) {
    html {
        /* 8.8px */
        font-size: 55%;
    }

    .home__img-shadows span:nth-child(3) {
        left: 66%;
        width: 20%;
    }
}

@media screen and (max-width: 888px) {
    .navbar::-webkit-scrollbar {
        display: none;
    }

    .navbar {
        position: fixed;
        flex-direction: column;
        top: -100vh;
        left: -100vw;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 12rem 5rem;
        background-color: var(--body-color);
        overflow: auto;
        transition: .6s ease-in-out !important;
        border-radius: 50%;
    }

    .navbar.active {
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .nav__list {
        text-align: center;
    }

    .music__wrapper {
        width: 6rem;
        margin: 4rem auto;
    }

    .music__wrapper span {
        --d: 1rem;
        width: calc(var(--d));
    }

    .nav__link {
        display: block;
        margin: 1.5rem 0;
        padding: .5rem;
        font-size: var(--h1-font-size);
    }

    .burger {
        display: inline-block;
    }

    #canvas {
        filter: none;
    }

    .home__title-svg {
        width: 100%;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .data {
        padding: 2rem !important;
    }

    .footer .content {
        grid-template-columns: 1fr;
    }

    .footer .data h3 {
        font-size: var(--h1-font-size);
    }
}


@media screen and (max-width: 768px) {
    :root {
        --title-font-size: 11.5rem;
        --subtitle-font-size: 4.5rem;
    }

    .home__img-shadows span:nth-child(2) {
        width: 60vw;
        /* height: 100vh; */
        filter: blur(calc(100vw / 10));
        /* filter: blur(000px); */
    }

    .home__img-shadows span:nth-child(3) {
        left: 70%;
        width: 23%;
    }

    .home__img-shadows span:nth-child(4) {
        left: 62%;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --title-font-size: 8rem;
        --subtitle-font-size: 3rem;
    }

    .home {
        box-shadow: none !important;
    }

    .home__img {
        top: 10%;
        height: 80vh;
    }

    .home__img-shadows span:nth-child(2) {
        /* left: 48%; */
        width: 67vw;
        height: 100vh;
        filter: blur(calc(100vw / 10));
    }

    .home__img-shadows span:nth-child(3) {
        top: 30%;
        left: 74%;
        width: 25%;
    }

    .home__img-shadows span:nth-child(4) {
        top: 31%;
    }
}

@media screen and (max-width: 460px) {
    :root {
        --title-font-size: 7rem;
    }

    .home__img {
        top: 20%;
        height: 65vh;
    }

    .home__img-shadows span:nth-child(2) {
        width: 70vw;
        height: 80vh;
    }

    .home__img-shadows span:nth-child(3) {
        top: 35%;
        left: 75%;
        width: 25%;
        height: 5vh;
    }

    .home__img-shadows span:nth-child(4) {
        top: 37%;
        filter: blur(calc(100vw / 40));
    }
}

@media screen and (max-width: 390px) {
    :root {
        --title-font-size: 7rem;
    }

    .nav__name {
        display: none;
    }

    .home__img-shadows span:nth-child(2) {
        width: 75vw;
        height: 80vh;
        filter: blur(calc(100vw / 7));
    }
}

@media screen and (max-width: 350px) {
    :root {
        --title-font-size: 6rem;
    }

    .home__img-shadows span:nth-child(2) {
        width: 90vw;
        height: 80vh;
        filter: blur(calc(100vw / 5));
    }

    .home__img-shadows span:nth-child(3) {
        top: 37%;
        left: 80%;
        width: 40%;
        height: 5vh;
    }

    .home__img-shadows span:nth-child(4) {
        left: 70%;
        filter: blur(calc(100vw / 20));
    }
}

/* =============== DETALLES =============== */
@media screen and (min-height: 1200px) and (orientation: portrait) {}

@media screen and (max-height: 576px) and (orientation: landscape) {}

@media screen and (max-height: 480px) and (orientation: landscape) {}